*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Playfair Display', sans-serif;
}

.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}

.container-flex-spaced{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.section__variedades {
    font-family: 'Gilroy', sans-serif;
    background-color:#FFFCF6;
    width: 1600px;
}

.section__variedades--title{
    font-family: 'Playfair Display', sans-serif;
    color: #A0996C;
    font-size: 56px;
    margin:0px 0px 64px 0px;
}

.variedades__items--subtitle{
    font-size: 24px;
    margin: 0px 90px 48px 90px;
    padding-top: 40px;
}

.section__variedades--items{
    display: inline-block;
    width: 459px;
    height: 560px;
    background: #F7F1E6;
    border-radius: 8px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

.variedades__items--img{
    display: block;
    margin: 0px 0px 32px 144px;
}

.variedades__items--span1{
    font-weight: 700;
}

.variedades__items--span2{
    font-size: 24px;
    font-weight: 500;
    color: #969696;
}

.variedades__items--button{
    background: #0B1D03;
    color: white;
    text-align: center;
    margin: 48px 32px 32px 32px;
    width: 395px;
    height: 76px;
    border-radius: 4px;
    font-size: 20px;  
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 737px;
        margin: 0 auto;
    }
    .section__variedades {
        max-width: 768px;
    }
    .section__variedades--items {
        max-width: 354px;
        max-height:453px;
        margin-bottom: 30px;
    }
    .variedades__items--button{
        max-width: 300px;
        max-height: 61px;
        margin: 24px 27px 40px 27px;
    }
    .section__variedades--title{
        margin-bottom: 30px;
    }
    
    .variedades__items--subtitle{
        font-size: 18px;
        font-weight: 500;
        margin: 0px 0px 24px 0px;
    }
    .variedades__items--img{
        margin: 0px 0px 24px 106px;
    }
}