*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Playfair Display', sans-serif;
}

.container {
    max-width: 100%;
    padding: 0 80px;
}

.container-flex-spaced{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.section__variedades {
    font-family: 'Gilroy', sans-serif;
    background-color:#FFFCF6;
    width: 1600px;
}

.section__variedades--title{
    font-family: 'Playfair Display', sans-serif;
    color: #A0996C;
    font-size: 56px;
    margin:0px 0px 64px 0px;
}
.section__variedades--items{
    display: inline-block;
    background: #F7F1E6;
    border-radius: 8px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}

.variedades__items--subtitle{
    font-size: 24px;
    padding-top: 40px;
}

.variedades__items--img{
    display: block;
    padding: 48px 144px 32px 144px;
}

.variedades__items--price-promo{
    font-weight: 700;
}

.variedades__items--price-full{
    font-size: 24px;
    font-weight: 500;
    color: #969696;
}

.variedades__items--button{
    background: #0B1D03;
    color: white;
    text-align: center;
    margin: 48px 32px 32px 32px;
    width: 86%;
    padding: 5.6% 0px;
    border-radius: 4px;
    font-size: 20px;  
    border:none;
    font-weight:700;
    line-height: 28px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .section__variedades {
        max-width: 100%;
        margin:auto;
    }
    .section__variedades--items{
        width: 49%;
    }
    .variedades__items--button{
        max-width: 85%;
        font-size: 18px;
        margin: 24px 27px 40px 27px;
    }
    .variedades__items--subtitle{
        font-size: 18px;
        font-weight: 500;
    }
    .variedades__items--img{
        padding: 24px 106px;
    }
}

@media screen and (min-width: 1601px) {
    .section__variedades {
        width: 100%;
        margin:none;
    }
}
